.usernameContainer {
    display: flex;
    align-items: flex-end;
    justify-self: start;
}
.username {
    font-size: 1.6em;
    margin-right: .5em;
    white-space: nowrap;
    max-width: 10em;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 800px) {
    .usernameContainer {
        justify-self: center;
    }
    .username {
        font-size: 1.2em,
    }
}
