.usernameContainer {
    display: flex;
    align-items: flex-end;
    justify-self: start;
}
.username {
    font-size: 1.6rem;
    margin-right: .5rem;
    white-space: nowrap;
    max-width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 800px) {
    .usernameContainer {
        justify-self: center;
    }
}
