@import "../../../consts/consts.scss";

.searchDropdown {
    position: absolute;
    top: 100%;
    width: 60%;
    background-color: #fff;
    z-index: 99;
    box-shadow: $dropShadowDarker;
    transform: scale(0);
    transition: .5s;
    transform-origin: top left;
    &.active {
        transform: scale(1);
    }
}
