@import "../../../consts/consts.scss";

.tag {
    margin: .2rem;
    border: 1px solid $borderColorDark;
    padding: 0.15rem 0.6rem 0.15rem 0.8rem;
    border-radius: 2px;
    background-color: $lightColor;
    display: flex;
    align-items: center;
    line-height: 1;
    color: #000;
    text-align: left;
    height: 1em;
}
.closeIcon {
    margin-left: .6em;
    cursor: pointer;
    opacity: .5;
    height: 70%;
}
