.container {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../../assets/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    height: calc(100vh - 3rem);
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #fff;
}