@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

@keyframes rotate {
    0% {
        transform: translate(0, -50%) rotate(0deg);
    }
    100% {
        transform: translate(0, -50%) rotate(360deg);
    }
}

.sectionContainer {
    padding: 2em;
    margin-bottom: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}
.heroContainer {
    display: flex;
    height: calc(100vh - 8em);
    justify-content: center;
    align-items: center;
    color: $darkColor;
    max-height: 1200px;
    padding: 0 5em;
    max-width: 960px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
.ctaButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroTitleContainer {
    margin: .5em;
    flex: 1;
    text-align: center;
}
.heroTitle {
    font-size: calc(3.5em + 1vw);
    margin: .5em;
    text-transform: uppercase;
}
.heroSub {
    font-size: 1.2em;
    opacity: .7;
    position: relative;

    &.ctaSub {
        font-size: .7em;
        margin-top: .5em;
    }
}
.heroImage {
    background :url("../../assets/hero.png");
    background-position: 50%;
    background-size: contain;
    flex: 1;
    height: 400px;
    margin: .5em;
    background-repeat: no-repeat;
}

.title {
    color: $darkColor;
    font-size: 2em;
    margin-bottom: 1em;
}
.cta {
    color: inherit;
    font-size: calc(1em + 3vw);
}

.cardContainer {
    display: flex;
    justify-content: center;
}
.card {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    margin: 1em;
    border-radius: 2px;
    box-shadow: $dropShadow;
    border: none;
    transition: .2s;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}
.cardInfo {
    opacity: .7;
}
ul.cardInfo {
    text-align: left;
    li {
        margin: .5em 0;
    }
}

.accent {
    color: $dangerColor;
}

@media (min-width: $mqFullHDWidth) {
    .heroTitle {
        font-size: 8.5em;
    }
    .title {
        font-size: 3em;
    }
    .cta {
        font-size: 4.5em;
    }
}
@media (max-width: $mqTabletWidth) {
    .container {
        padding: 0;
    }
    .heroContainer {
        flex-direction: column;
        max-height: 500px;
        height: auto;
        padding: 2em 1.2em;
    }
    .heroImage {
        position: absolute;
        width: 190%;
        z-index: -1;
        opacity: 0.2;
    }
    .sectionContainer {
        padding: 2em .5em;
    }
    .cardContainer {
        flex-direction: column;
    }
    .icon {
        font-size: 2em;
    }
    .heroSub {
        font-size: .9em;
    }
    .heroTitle {
        font-size: calc(1.5em + 1vw);
        text-transform: uppercase;
    }
    .title {
        font-size: 1.5em;
        max-width: 100%;
    }
}
@media(max-width: $mqTabletWidth) and (orientation: landscape) {
    .title {
        font-size: 2em;
    }
}
