@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

.button {
    border-radius: 100px;
    color: #fff;
    text-transform: capitalize;
    font-family: "Quicksand";
    box-shadow: 1px 2px 0.5rem rgba(0,0,0,.4);
    border: none;
    cursor: pointer;
    outline: none;
    transition: .2s;
    white-space: nowrap;
}
.regular {
    padding: 0.9rem 2.5rem;
    font-size: 1.2rem;
}
.small {
    padding: .4em 1em;
    font-size: 1rem;
}

.danger {
    background-color: $dangerColor;
    &:hover {
        background-color: $dangerHoverColor;
    }
}
.warning {
    background-color: $warningColor;
    &:hover {
        background-color: $warningHoverColor;
    }
}
.main {
    background-color: $successColor;
    &:hover {
        background-color: $successHoverColor;
    }
}

@media (max-width: $mqMobileWidth) {
    .regular {
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
    }
}