@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

.button {
    border-radius: 100px;
    color: #fff;
    text-transform: capitalize;
    font-family: "Quicksand";
    box-shadow: $dropShadowButtons;
    border: none;
    cursor: pointer;
    outline: none;
    transition: .2s;
    white-space: nowrap;
}
.regular {
    padding: 0.5em 1.9em;
    font-size: 1.2em;
}
.small {
    padding: .4em 1em;
    font-size: 1em;
}

.danger {
    background-color: $dangerColor;

    &:hover {
        background-color: $dangerHoverColor;
    }
}
.warning {
    background-color: $warningColor;

    &:hover {
        background-color: $warningHoverColor;
    }
}
.main {
    background-color: $successColor;

    &:hover {
        background-color: $successHoverColor;
    }
}
.neutral {
    background-color: $neutralColor;
    color: $darkColor;

    &:hover {
        background-color: $neutralHoverColor;
    }
}

.disabled {
    opacity: .5;
    cursor: default;
}

@media (max-width: $mqMobileWidth) {
    .regular {
        padding: 0.5em 1.5em;
        font-size: 1em;
    }
}
