.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    flex: 1;
}
.settingsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
    margin: .5rem;
}
.settingsAreaRow {
    margin: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 2fr 2fr;
    }
}