@import "../../consts/consts.scss";

.container {
    padding: 1.2em 3em;
    text-align: center;
    width: 10rem;
    font-family: "Montserrat", sans-serif;
    transition: transform .7s cubic-bezier(1,-0.38,.59,1.49), opacity .3s ease .4s;
    position: fixed;
    background-color: white;
    border: 2px solid $successColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    opacity: 0;
    box-shadow: $dropShadowDark;
}
.slide-to-left {
    top: 3rem;
    left: 100%;
    transform: translateX(0);    
    border-radius: .3rem 0 0 .3rem;
    border-right: none;    
    &.active {
        transform: translateX(-90%);
        opacity: 1;
    }
}
.slide-down {
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    border-radius: 0 0px 5px 5px;
    border-top: none;
    &.active {
        transform: translate(-50%, -10%);
        opacity: 1;
    }
}

.success {
    color: $successColor;
    border-color: $successColor;
}
.info {
    color: $mainColor;
    border-color: $mainColor;
}
.error {
    color: $dangerColor;
    border-color: $dangerColor;
}
