@import "../../../consts/consts.scss";

.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.link {
    cursor: pointer;
    color: $dangerColor;
    text-decoration: none;
}
