@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    opacity: 0;
    transition: .2s;
    pointer-events: none;
    position: fixed;
    &.active {
        pointer-events: all;
        opacity: 1;
        z-index: $zIndexPopupContainer;
    }
}
.title {
    margin: 0;
    padding: 0;
}
.overlay {
    background-color: $darkOverlay;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100vw;
    max-width: 100%;
}
.content {
    border: 1px solid white;
    border-radius: 5px;
    // height: 100%;
    width: 50%;
    max-width: 500px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;
    z-index: 99999;
    box-shadow: $dropShadowLight;
    padding: 1.5em;
}
.contentHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contentBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3em;
}
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.5em;
}
.button {
    flex-basis: 20%;
    border-radius: 100px;
    border: 1px solid $borderColorDark;
    padding: .5em 1.5em;
    font-size: 1.2em;
    color: #fff;
    margin: 0 .5em;
    font-weight: 100;
    cursor: pointer;
    transition: .2s;
}
.submit {
    background-color: $successColor;
}
.submit:hover {
    background-color: $successHoverColor;
}
.cancel {
    background-color: #fff;
    color: $darkColor;
}
.cancel:hover {
    background-color: $neutralColor;
}

@media (max-width: $mqTabletWidth) {
    .contentBody {
        padding: 0 1rem;
    }
    .content {
        width: 80%;
    }
}
