@import "../../consts/mediaQueries.scss";
@import "../../consts/consts.scss";

.container {
    display: flex;
    flex-direction: column;
    flex: 1;    
    text-align: center;
    min-height: calc(100vh - #{$headerTotalHeight});
    /* height of the header + paddings */
    padding-top: $headerTotalHeight;
}
.bodyContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.extraSpace {
    padding: 2rem;
}

@media (max-width: $mqTabletWidth) {
    .extraSpace {
        padding: 1rem;
    }
    .container {
        min-height: calc(100vh - #{$headerTotalHeightMobile});
        padding-top: $headerTotalHeightMobile;
    }
}
