@import "../../consts/mediaQueries";

.navigationOptionsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #e8e9ec;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 2px;
    opacity: 0;
    transition: .2s;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &.active {
        opacity: 1;
        top: 100%;
        pointer-events: all;
    }
}
.caret {
    transition: .2s;

    &.active {
        transform: rotate(180deg);
    }
}
.navigation {
    border: 1px solid #e8e9ec;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 .5em;
    padding: 1em 3em;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    min-width: 10em;
    justify-content: center;
    border-radius: 2px;

    &:hover {
        background-color: #fafafa;
    }
}


/* Themes */
.regular {
    margin: 0 .5em;
    padding: 1em 3em;
}
.small {
    margin: 0 .5em;
    padding: .5em;
    font-size: .9em;
}
@media (max-width: $mqTabletWidth) {
    .regular {
        padding: 0.6em 1em;

    }
}
