@import "../../consts/consts.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: .5em;
}
.input {
    padding: .5em 1em;
    border-radius: 2px;
    font-size: 1em;
    line-height: 1.5;
    align-self: normal;
    border: 1px solid $lightColor;
    box-shadow: $dropShadow;
}
.input:focus {
    outline-color: $successColor;
    outline-width: 2px;
}
.inputError:focus {
    outline-color: $warningColor;
}
.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    position: relative;
}
.button {
    flex-basis: 20%;
    border-radius: 100px;
    border: 1px solid $borderColorDark;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 .5rem;
    font-weight: 100;
    cursor: pointer;
    transition: .2s;
    outline: none;
}
.submit {
    background-color: $successColor;
}
.submit:hover {
    background-color: $successHoverColor;
}
.cancel {
    background-color: #fff;
    color: $darkColor;
}
.cancel:hover {
    background-color: $neutralColor;
}

.accentedText {
    color: $warningColor;
}

.icon {
    animation: rotateAndCenterY 1s ease infinite;
    position: absolute;
    left: 0;
    top: 50%;
    height: 75%;
}
.hidden {
    opacity: 0;
}

@media (max-width: 600px) {
    .container {
        font-size: 14px;
    }
}
