@import "../../consts/consts.scss";

// Duplicate  rules
.formGroup {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: .5em;
}
.input {
    padding: .5em 1em;
    border-radius: 2px;
    font-size: 1em;
    line-height: 1.5;
    align-self: normal;
    border: 1px solid $borderColorLight;
    box-shadow: $dropShadow;
}
.input:focus {
    outline-color: $successColor;
    outline-width: 2px;
}
.inputError:focus {
    outline-color: $warningColor;
}
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.button {
    flex-basis: 20%;
    border-radius: 100px;
    border: 1px solid $borderColorDark;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 .5rem;
    font-weight: 100;
    cursor: pointer;
    transition: .2s;
    outline: none;
}
.submit {
    background-color: $successColor;
}
.submit:hover {
    background-color: $successHoverColor;
}
.cancel {
    background-color: #fff;
    color: $darkText;
}
.cancel:hover {
    background-color: $transparentBgHoverColor;
}


@keyframes rotate {
    0% {
        transform: translate(150%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(150%, -50%) rotate(360deg);
    }
}
.icon {
    opacity: 1;
    transition: .2s;
    position: absolute;
    right: 0;
    top: 50%;
    animation: rotate 1s ease infinite;
    font-size: 1.5rem;
}
.hidden {
    opacity: 0;
}

@media (max-width: 600px) {
    .container {
        font-size: 14px;
    }
}
