@import "../../consts/mediaQueries.scss";

.container {
    border: 1px solid #e8e9ec;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #1d1d1d;
    cursor: pointer;
    transform: scale(1);
    transition: .2s;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        opacity: 0;
        transition: .2s;
    }

    @media (min-width: $mqTabletWidth) {
        &:hover {
            transform: scale(1.03);

            &::before{
                opacity: 1;
            }
        }
    }
}

.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    transform: translateZ(0);
    color: inherit;
    height: 10rem;
    padding: 2rem;
}
.username {
    font-size: 1.2rem;
    white-space: nowrap;
    max-width: 10rem;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    align-self: center;
}
.status {
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.3);
    line-height: 1;
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateZ(0);
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
}
.active {
    color: #2DCC70;
}
.inactive {
    color: #E76B6B;
}
.settingsButton {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 0.4rem 0.5rem;
    line-height: 1;
    background-color: rgba(232, 233, 236, .4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .2s;
    color: #1d1d1d;

    &:hover {
        background-color: #fff;
    }
}
.button {
    border: 1px solid #e8e9ec;
    padding: 0.4rem 1rem;
    border-radius: 100px;
    color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .2s;
    width: 3rem;
}
.startButton {
    background-color: #2DCC70;
}
.startButton:hover {
    background-color: #64D98A;
}
.pauseButton {
    background-color: #fff;
    color: #000;

    &:hover {
        background-color: rgba(232, 233, 236, .4);
    }
}

.icon {
    font-size: 0.9rem;
}

@media (max-width: $mqTabletWidth) {
    .link {
        height: 9rem;
        padding: 1rem;
    }
    .buttons {
        bottom: 1.5rem;
        left: 1rem;
        right: 1rem;
        width: calc(100% - 2rem);
    }
    .username {
        font-size: 1rem;
    }
}
