@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

@keyframes rotate {
    0% {
        transform: translate(0, -50%) rotate(0deg);
    }
    100% {
        transform: translate(0, -50%) rotate(360deg);
    }
}

.cardContainer {
    display: flex;
    justify-content: center;
}
.card {
    flex: 1;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    margin: 1em;
    border-radius: 2px;
    box-shadow: $dropShadow;
    border: none;
    transition: .2s;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
}

.cardInfo {
    opacity: .7;
    line-height: 1.3;

    ul {
        text-align: left;
    
        li {
            margin: .5em 0;
        }
    }
}

.iconContainer {
    height: 2.5em;
}

.cardHeader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .6em;
}
.cardTitle {
    margin: 0;
    color: $darkColor;
    word-break: break-word;
    font-weight: 100;
    position: relative;
    font-size: $sectionTitleFontSize;
    text-transform: capitalize;
}

@media (max-width: $mqTabletWidth) {
    .cardContainer {
        flex-direction: column;
    }
    .card {
        padding: 1em;
    }
    .cardTitle {
        font-size: 2em;
    }
    .icon {
        font-size: 2em;
    }
}
@media(max-width: $mqTabletWidth) {

}
