@import "../../consts/consts.scss";

.line {
    height: 2px;
    background-color: $borderColorLight;
    position: relative;
    margin: 1.5rem 0;
    align-self: center;
    border-radius: 100px;
}

.fullWidth {
    width: 100%;
}
.small {
    width: 30px;
    margin: .5rem 0;
}
.smallBigMargin {
    width: 30px;
    margin: 1.5rem 0;
}
