@import "../../consts/consts.scss";

.loadMore {
    border-radius: 100px;
    padding: .5em 1em;
    font-size: 1rem;
    transition: .2s;
    cursor: pointer;
    border: 1px solid #e8e9ec;
    color: #fff;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 .5rem;
    font-weight: 100;
    white-space: nowrap;
    background-color: #2DCC70;
    align-self: center;
}
.loadMore:hover {
    background-color: #64D98A;
}
.selectActivityBox {
    align-self: center;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.reviewedContainer {
    position: absolute;
    display: flex;
    align-items: center;
    right: 1rem;
}
.reviewedAnswer {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.icon {
    opacity: 1;
    transition: .2s;
    position: relative;
    color: $darkColor;
    animation: rotate 1s ease infinite;
    font-size: 1.5rem;
    margin-right: .5rem;
}
.hidden {
    opacity: 0;
}
