@import "../../consts/consts.scss";

.container {
    display: flex;
    height: $headerHeight;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: $headerVerticalPadding $headerHorizontalPadding;
    position: fixed;
    top: 0;
    width: calc(100% - 10em);
    z-index: 100;
    transition: .2s;
    
    &.active {
        border-bottom-color: transparent;
    }
}

.innerContainer {
    max-width: 75vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
}

.link {
    color: #1D2247;
    text-decoration: none;
    padding: .8em .5em;
    margin: 0 0.5em;
    position: relative;
    transition: .2s;
    line-height: 1.5;
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        opacity: 0;
        transform: scale(0) translate3d(-50%, 0, 0);
        transform-origin: left center;
        left: 50%;
        bottom: .4rem;
        right: 0;
        transition: .2s;
        background-color: #E01931;
        height: 1px;
        width: 90%;
        border-radius: 100px;
    }

    &:hover {
        color: #E01931;
    }

    &.active,
    &:hover {
        &::after {
            opacity: 1;
            transform: scale(1) translate3d(-50%, 0, 0);
        }
    }
}

.active {
    color: #E76B6B;
}

.dropdown {
    padding: 0 .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: $dropShadowHovered;
    transition: .2s;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    border: 1px solid $borderColorDark;
}

.parentLink {
    &:hover {
        .dropdown {
            top: 89%;
            opacity: 1;
            pointer-events: all;
        }
        .caret {
            transform: rotate(180deg);
        }
    }
}

.caret {
    transition: .2s;
}

.mobileNavigation {
    display: none;
}

.icon {
    display: none;
    font-size: 1.5rem;

    &.active {
        display: block;
    }
}

.logo {
    text-decoration: none;
    color: initial;
    font-weight: bold;
    font-size: 1.7rem;
}

.isHeaderMinimized {
    height: 1.5em;
    font-size: 0.9em;
    background-color: #fff;
    border-bottom: 1px solid rgba(29, 34, 71, 0.1);
}

@media (max-width: 768px) {
    .headerTop {
        z-index: $zIndexHeaderTopBar;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .mobileNavigation {
        display: block;
        cursor: pointer;
        width: 1.5em;
    }

    .isHeaderMinimized {
        height: $headerHeightMinimized;
    }

    .container {
        padding: $headerVerticalPaddingMobile 0;
        width: 100%;
    }

    .innerContainer {
        flex: 1;
        max-width: auto;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: white;
        top: 2.5rem;
        right: 100%;
        width: 100%;
        bottom: 0;
        align-items: center;
        padding: 2rem 0 1rem 0;
        z-index: $zIndexMobileMenu;
        transition: .4s;

        .link {
            transition-property: all;
            transition-duration: .4s;
            transition-delay: .1s;
            transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
            opacity: 0;
            transform: translateX(-100%);
            font-size: 1.4rem;

            &::after {
                bottom: 1rem;
            }
        }

        &.active {
            transform: translateX(100%);

            .link {
                transform: translateX(0);
                opacity: 1;

                @for $i from 1 through $maxMenuItemCount {
                    &:nth-child(#{$i}) {
                        transition-delay: calc(#{$i} * 0.1s);
                    }
                }
            }
        }
    }
}

.welcomeText {
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
