.container {
    display: flex;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
    min-height: 4rem;
    border-radius: 5px;
    margin: .2rem;
    background-color: #fff;
    color: #1d1d1d;
    width: 100%;
    max-width: 40rem;
    align-self: center;
    align-items: center;
}

.sideBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    font-size: 0.8rem;
    height: 4rem;
    border-radius: 100px;
}
.time {
    border-right: 1px solid #e8e9ec;
    color: rgba(29, 34, 71, 0.3);
}
.button {
    border-left: 1px solid #e8e9ec;
    border-radius: 100px 0 0 100px;
    transition: .2s;
    cursor: pointer;
}
.button:hover {
    background-color: #e8e9ec;
}
.body {
    flex: 1;
    font-size: 1rem;
    padding: .7rem 2rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: initial;
}
.username {
    position: relative;
}
.username::before {
    content: "";
    position: absolute;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 1px;
    bottom: -5px;
    transition: .2s;
    opacity: 0;
}
.user:hover .username::before {
    opacity: 1;
}
.link {
    color: #E76B6B;
    text-decoration: none;
    margin: .5rem 0 0;
    position: relative;
    font-size: .9rem;
}
.link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    border-bottom: 1px solid;
    transition: .2s;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: .2s;
    transform-origin: bottom center;
    border-radius: 100px;
}
.link:hover::before {
    transform: scale(1);
}
.avatar {
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
    background-position: center;
    border-radius: 100px;
    margin-right: .3rem;
    border: 1px solid #e8e9ec;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);
}
.comment {
    font-weight: bold;
    font-size: 1.5rem;
}
.row {
    display: flex;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.media {
    background-size: cover;
    width: 10rem;
    height: 10rem;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #e8e9ec;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .2);
    margin: .7rem;
}