@import "../../consts/consts.scss";

.container {
    position: relative;
}

.focusCircle {
    fill: $successColor;
    pointer-events: none;
    r: 8;
}
.svg {
    border: 1px solid #e7e7e7;
}

.breakPoint {
    pointer-events: none;
    fill: $lightColor;
}
.line {
    stroke: $lightColor;
    stroke-width: 1.5;
    fill: none;
    pointer-events: none;
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 0;
}
.overlay {
    fill: none;
    pointer-events: all;
}

.container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart {
    width: 100%;
    height: 100%;
}

.settings {
    display: flex;
    align-items: center;
}

.chartContainer {
    position: relative;
}
