// Colors
$lightShadowColor: rgba(142, 142, 142, 0.1);
$darkOverlay: rgba(0, 0, 0, .6);
$dropShadow: 0 0 .5em $lightShadowColor;
$dropShadowHovered: 0 5px 1.5em $lightShadowColor;
$dropShadowDark: 0 0 .5em rgba(0, 0, 0, 0.5); // check if needed
$dropShadowDarker: 0 .1em .5em rgba(0, 0, 0, 0.5); // compare with this
$dropShadowButtons: 0 0.1em 0.1em rgba(0, 0, 0, .2);
$dropShadowLight: 0 0 1px rgba(0,0,0,.3);
$borderColorDark: rgba(29, 34, 71, .1);
$lightColor: #e8e9ec;
$dangerColor: #ff5e57;
$dangerHoverColor: #ff3f34;
$successColor: #61d07f;
$successHoverColor: #64d98a;
$warningColor: rgba(243, 156, 18,1.0);
$warningHoverColor: rgba(243, 156, 18,.7);
$darkColor: #395173;
$darkerColor: #1D2247;
$neutralColor: rgba(232, 233, 236, .4);
$neutralHoverColor: #fff;
$mainColor: #42beb6;
$placeholderColor: rgba(29, 34, 71, 0.3);
$lightOutline: rgba(154, 154, 154, 0.1);

// Layers
$zIndexSearchDropdown: 99;
$zIndexHeader: 100;
$zIndexMobileMenu: 10000;
$zIndexHeaderTopBar: 10001;
$zIndexPopupContainer: 90000;
$zIndexToast: 90001;

// Other
$maxMenuItemCount: 5;

//Sizes
$headerHeight: 3em;
$headerHeightMinimized: 2.5em;

// Font Sizes
$sectionTitleFontSize: 2em;


// Desktop
$headerVerticalPadding: 1em;
$headerHorizontalPadding: 5em;
$headerTotalHeight: $headerHeight + $headerVerticalPadding + $headerVerticalPadding;

// Mobile
$headerVerticalPaddingMobile: 0.2em;
$headerTotalHeightMobile: $headerHeight + $headerVerticalPaddingMobile + $headerVerticalPaddingMobile;


// Keyframes
// Spinning icon

@keyframes rotateAndCenter {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateAndCenterY {
    0% {
        transform: translate(0, -50%) rotate(0deg);
    }
    100% {
        transform: translate(0, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// mixins
@mixin coverContainerAbsolute() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
