// Colors
$darkOverlay: rgba(0, 0, 0, .6);
$dropShadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
$dropShadowDark: 0 0 .5rem rgba(0, 0, 0, 0.5);
$dropShadowLight: 0 0 1px rgba(0,0,0,.3);
$borderColorDark: rgba(29, 34, 71, .1);
$borderColorLight: #e8e9ec;
$dangerColor: #ff5e57;
$dangerHoverColor: #ff3f34;
$successColor: #2DCC70;
$successHoverColor: #64d98a;
$warningColor: rgba(243, 156, 18,1.0);
$warningHoverColor: rgba(243, 156, 18,.7);
$darkText: #395173;
$transparentBgHoverColor: rgba(232, 233, 236, .4);
$mainColor: #42beb6;
$placeholderColor: rgba(29, 34, 71, 0.1);

// Sizes
