// Colors
$darkOverlay: rgba(0, 0, 0, .6);
$dropShadow: 0 0 .5rem rgba(0, 0, 0, 0.1);
$dropShadowLight: 0 0 1px rgba(0,0,0,.3);
$borderColorDark: rgba(29, 34, 71, .1);
$borderColorLight: #e8e9ec;
$dangerColor: #e76b6b;
$dangerHoverColor: #e01931;
$successColor: #2DCC70;
$successHoverColor: #64d98a;
$warningColor: rgba(243, 156, 18,1.0);
$darkText: #1D2247;
$transparentBgHoverColor: rgba(232, 233, 236, .4);

// Sizes