@import "../../consts/consts.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21em;
    padding: 3em;
    border: 1px solid $neutralColor;
    box-shadow: $dropShadow;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: normal;
}

.formGroup {
    position: relative;
    height: 3rem;
    width: 20rem;
    max-width: 80%;
    margin: .5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: absolute;
    top: 50%;
    animation: rotate 1s ease infinite;
    left: 2em;
    height: 2em;
    pointer-events: none;
}
