.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}
.innerContainer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header {
    padding: 2rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.buttons {
    justify-self: end;
    display: flex;
    align-items: center;
}
.button {
    border-radius: 100px;
    padding: .5em 1em;
    font-size: 1rem;
    transition: .2s;
    cursor: pointer;
    border: 1px solid #e8e9ec;
    color: #fff;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 .5rem;
    font-weight: 100;
    white-space: nowrap;
}
.buttonStop {
    background-color: rgba(232, 233, 236, .4);
    color: #1D2247;    
}
.buttonStop:hover {
    background-color: #fff;
}
.buttonStart {
    background-color: #2DCC70;
}
.buttonStart:hover {
    background-color: #64D98A;
}
.buttonDelete {
    background-color: #E76B6B;
}
.buttonDelete:hover {
    background-color: #E01931;
}

.ellipsis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    height: 100%;
    width: 15%;
    top: 0;
    bottom: 0;
    border-left: 1px solid #e8e9ec;
    padding: .5rem;
    margin: -.5rem;
}
.circle {
    border: 3px solid;
    color: #e8e9ec;
    border-radius: 100px;
}
.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@media (max-width: 800px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;
    }
    .buttons {
        justify-self: center;
    }
}
