@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: $darkText;
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media (max-width: $mqTabletWidth) {
    .title {
        font-size: 2rem;
    }
}
