@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

.container {
    border-radius: 100px;
    border: 1px solid $successColor;
    padding: 0.6em 0.8em;
    color: $darkerColor;
    font-size: 11px;
    height: .7em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(40%, -25%, 0);
    cursor: pointer;
    transition: transform .2s;
    box-shadow: $dropShadowDarker;
    text-decoration: none;
    z-index: $zIndexBalance;

    @media (hover: hover) {
        &:hover {
            transform: translate3d(40%, -10%, 0);
        }
    }
}

@media (max-width: $mqTabletWidth) {
    .container {
        transform: translate3d(-60%, 10%, 0);

        @media (hover: hover) {
            &:hover {
                transform: translate3d(-60%, 20%, 0);
            }
        }
    }
}
