@import "../../consts/consts.scss";
@import "../../consts/mediaQueries.scss";

.icon {
    fill: $dangerColor;
    opacity: .8;
    height: 100%;
    display: block;
}

.success {
    fill: $successColor;
}

.warning {
    fill: $warningColor;
}
.neutral {
    fill: #000;
}

