@import "../../consts/consts.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.inputWrapper {
    border: 1px solid rgba(29, 34, 71, .2);
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    line-height: 1.5;
    margin-bottom: 1rem;
    display: flex;
    position: relative;
    height: 2.5em;
}
.input {
    border: none;
    outline: none;
    padding: .5em 1em;
    border-radius: 0 5px 5px 0;
    line-height: 1.5;
    flex: 1;
    // important To prevent text-area dragging effect rewriting width
    width: 100% !important;
    font-size: 1em;
}
.tagField {
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}
.iconContainer {
    border: 1px solid $lightColor;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    border-right: none;
    background-color: $lightColor;
    flex-basis: 3em;
}
.icon {
    height: 45%;
    padding: 0 1em;
    width: 100%;
}
.spinnerContainer {
    position: absolute;
    right: 1em;
    height: 50%;
    top: 50%;
    animation: rotateAndCenterY 1s ease 0s infinite;
}
.bodyPlaceholder {
    max-width: 75%;
    align-self: center;
    color: rgba(29, 34, 71, 0.3);
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
